
Analista de Operações (Câmbio)

Garantir Registro e Liquidação das operações;
Atendimento a áreas de apoio e áreas de Front;
Suportar as operações da Mesa de FX;
Batimento das posições de câmbio do Banco;
Elaboração e divulgação de relatórios gerenciais;
Elaboração de soluções para melhoria contínua nos processos e controles da área;
Acompanhamento de projetos relacionados às melhorias e novos produtos, junto ao time de tecnologia e automation.

Esperamos De Você

Formação completa, preferencialmente em Engenharia, Economia ou Administração;
Inglês avançado;
Conhecimento do mercado financeiro;
Conhecimentos avançados em Excel (experiência com Macros / VBA desejados);
Capacidade de concentração e de atendimento a múltiplas demandas simultaneamente;
Habilidade na comunicação oral e escrita;
Raciocínio lógico;
Organização, diligência, responsabilidade e autonomia.







Analista de Operações (Middle Retail)

obre a Área

O Middle Retail está inserido no contexto do varejo do Banco BTG Pactual, sendo a equipe responsável pelo suporte aos produtos ofertados pelos canais do banco, como por exemplo: renda fixa, renda variável, fundos, câmbio, crédito, previdência, derivativos, criptoativos, produtos offshore, banking etc.

No Seu Dia a Dia

Interface com os canais de investimento do BTG pactual, garantindo o suporte necessário nas operações realizadas nas plataformas de varejo 
Geração de métricas e KPIs acerca dos principais ofensores 
Desenvolvimento e otimização de processos internos 
Participação ativa em projetos para aprimorar as plataformas 
Contato com os times de backoffice, mesas de negócios, jurídico, finance, tax, tecnologia, atendimento, compliance etc.

Esperamos De Você

Formação completa, preferencialmente em Administração, Economia e/ou Engenharia;
Inglês avançado;
Bons conhecimentos de mercado financeiro;
Conhecimentos avançados em Excel;
Será considerado diferencial o conhecimento em programação (SQL, Python); 
Trabalho presencial em São Paulo – Av. Faria Lima;
Capacidade de concentração e de atendimento a múltiplas demandas;
Bom relacionamento interpessoal;
Comprometimento, proatividade e criatividade.







Analista de Fund Services

Cálculo de Cotas (fundos líquidos, estruturados e offshore):

Cálculo de Cotas de Fundos;
Controle das posições, preços e variação das cotas dos fundos;
Acompanhamento da liquidação de operações e do caixa dos fundos;
Acompanhamento dos investimentos dos fundos;
Atendimento aos Gestores dos Fundos
Otimização dos controles e processos internos;

Contabilidade (fundos Líquidos, Estruturados e Offshore)

Contabilização dos fundos de investimento;
Elaboração de balancetes mensais;
Disponibilização de documentação aos auditores externos;
Acompanhamento junto aos auditores dos cronogramas para recebimento de laudo de avaliação e informações de terceiros;
Atendimento aos auditores e gestores para elaboração das Demonstrações Financeiras 






Analista de Execução Offshore

Execução diária de contratos de exportação de mercadorias a serem embarcadas em navios
Análise de Contratos, Documentos e Instruções Documentárias
Nomeações de contratos FOB para contrapartes
Acompanhamento das operações do carregamento e qualidade do produto
Acompanhamento, verificação e aprovação de drafts de documentos, bem como garantir a emissão de documentos pelos prestadores de serviços
Interação com contrapartes do mercado para follow up dos navios e análises de possíveis strings/circles
Acompanhamento de custeios em KPI’s e reports do departamento
Contínuo interface com as equipes de Logística, Trading Desk, Finance e Trade Finance para garantir que as informações fluam entre departamentos para uma boa ordem das operações e decisões
Atualizar nossos controles internos em suas diversas plataformas

Esperamos de você

Ensino Superior Completo (desejáveis áreas correlatas, como Comércio Exterior, Relações Internacionais ou Administração)
Desejável experiência no mercado de Commodities Trading container ou granel
Desejável inglês avançado
Desejável Excel avançado
Experiência em modalidade de pagamentos via Carta de Crédito é diferencial






































