Create the following classes

Client
Portfolio
Stocks

Class Client

Atributes:
- AccountNumber integer
- ClientName = string

Functions:
- CreateClient
- ListClients
- DeleteClient
- CountPortfolios

Class Portfolio

Atributes:
- PortfolioNumber: integer
- AccountNumber: (reference to AccountNumber at Client)
- Stocks: list of stocks inside portfolio and related to portfolio number)
- PortfolioType: string (Global or Local)
- PortfolioTotal: return the sum (quantity of stocks multiplied by last price) of all stocks in the portfolio

Functions:
- CreatePortfolio (starts with 001, print list of users and receive user input (number) for the client)
- InsertStock (display list of portfolios, user choose one, list stocks and user choose which one, and provide quantity)
- RemoveStock (lists portfolios, use choose one, lists stocks and use choose which stock to remove)
- ListPortfolio (display all portfolios)

Class Stocks
Atributes:
- StockName = string
- StockPrice = double

Functions:
- CreateStock (user input with name of stock, check if exists, proceed user informs stockprice)
- DeleteStock (lists stocks available, choose one, if stock is present in the portfolio remove)
- ListStocks (display all stocks)


in the Main class, create a menu print and receive user input

Menu:
- 1 Clients
- 2 Portfolios
- 3 Stocks

Inside menu 1 Clients, display menu
- 1 Create Client
- 2 List Clients
- 3 Delete Client
- 4 Main menu

Inside menu 2 Portfolios, display menu
- 1 CreatePortfolio
- 2 ListPortfolios
- 3 InsertStockPortfolio
- 4 RemoveStockPortfolio

Inside menu 3 Stocks, display menu
- List Stocks 
- CreateStock
- DeleteStock










